<!--<h1>New Shopping List</h1>

<%#= render 'form', shopping_list: @shopping_list %>

<%#= link_to 'Back', shopping_lists_path %>-->

<% provide(:navbar_page_title, "add new shopping_lists") %>

<br>
<div class="d-flex flex-column">            
  <%= render 'form', shopping_list: @shopping_list %>
</div>  